<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="duckyRao" />
	<link rel="shortcut icon" type="image/x-icon" href="/img/logo.png" media="screen" /> 
	<meta name="format-detection" content="telephone=no" />
	<meta name="keywords" content="问我，问我美食，myworld，迈沃德科技，pcs，享用插件，cherry">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<title>^_^迈沃德科技</title>
	<link rel="stylesheet" href="/css/parallax.css">
	<link rel="stylesheet" href="/css/parallax-animation.css">
	<style>
	body{
		background: url("/img/bg.png") center center / cover no-repeat; 
	}
	/* custom */
	section[data-id="1"] {
		/*background: #3498db;*/
		background:rgba(0,0,0,0.1);
	}
	section[data-id="2"] {
		/*background: #40d47e;*/
		background:rgba(0,0,0,0.1);
	}
	section[data-id="3"] {
		/*background-color: #ff8c81;*/
		background:rgba(0,0,0,0.1);
	}
	section[data-id="4"] {
		/*background-color: #3498db;*/
		background:rgba(0,0,0,0.1); 
	}
	.box1 {
		width: 100px;
		height: 200px;
		background-color: #ecf0f1;
		position: absolute;
		left: 160px; top: 126px;
	}
	.box2 {
		width: 200px;
		height: 100px;
		background-color: #8e44ad;
		position: absolute;
		left: 60px; top: 226px;
	}
	.box3 {
		width: 100px;
		height: 100px;
		background-color: #34495e;
		position: absolute;
		left: 160px; top: 226px;
	}
	.box4 {
		width: 50px;
		height: 50px;
		background-color: #e74c3c;
		position: absolute;
		left: 185px; top: 250px;
	}
	.pcs,.cherry,.wenwo{
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		display: block;
		width: 100%;
		max-width: 500px;
	}
	body.body-active{
      font-family: Hiragino Sans GB, Microsoft Yahei !important;
      font-weight: 300;
      padding: 0;
      margin:0;
      width:100%;
      height: 100%;
      background-color: white;
      background: url("/img/open.jpg") no-repeat top;
      background-size: 100%;
    }
    @-webkit-keyframes shake {
	     0%{
	        -webkit-transform:translate(0, -50px);
	     }
	     10%{
	         -webkit-transform:translate(0px, 50px);
	     }
	     100%{
	        -webkit-transform:translate(0, -50px);
	     }
	 }
	 @keyframes shake {
	    0%{
	        transform:translate(0, -50px);
	     }
	     10%{
	         transform:translate(0px, 50px);
	     }
	     100%{
	        transform:translate(0, -50px);
	     }
 	}
 	.shake{
     	-webkit-animation:shake 3s;
     	animation:shake 3s;
 	}
 	.wenwo-tip{
 		width: 100%;
 		font-size: 1rem;
 		color: white;
 		text-align: center;
 		-webkit-transition: all ease 1000ms;
      	transition: all ease 1000ms;
      	-webkit-transform:translate(0, -50px);
      	transform:translate(0, -50px);
 	}
 	.parallax-h-indicator ul li{
 		background-color: rgba(255,255,255,0.2);
 	}
 	.parallax-h-indicator{
 		bottom:20px;
 	}
 	.team-content{
 		position: absolute;
 		box-sizing: border-box;
 		width: 90%;
 		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
 		text-align: center;
 		border-radius: 10px;
    	background-color: #fff;
    	padding: 1.5rem 1rem;
 	}
 	.logo{
 		margin-bottom: .5rem;
 	}
 	.intro,.smile,.contact{
 		font-size: .67rem;
 		text-align: left;
 		margin-top: .4rem;
 	}
/* 	.contact{
 		font-size: .67rem;
		margin-top: .2rem;
		text-align: left;
 	}*/
	</style>
</head>
<body>
<div class="wrapper">
	<div class="pages">

		<!-- 第一屏 -->
		<section class="page">
			<img src="/img/pcs.png" class="pcs" alt="">
		</section>

        <!-- 第二屏 -->
		<section class="page">
			<div class="wenwo-tip">请在微信中体验</div>
			<img src="/img/wenwo.png" class="wenwo" alt="">
		</section>

        <!-- 第三屏 -->
		<section class="page">
			<img src="/img/cherry.png" class="cherry" alt="">
		</section>

		<!-- 第四屏 -->
		<section class="page">
			<div class="team-content">
				<img src="/img/logo.png" class="logo" alt="">
				<div class="intro">成都迈沃德科技有限公司成立于2015年10月，公司成员全部是90后、95后，年轻的我们充满活力，执着的我们坚信互联网可以改变世界。迈沃德科技注重用户体验，“我用心做，你放心看”是我们的宣言。</div>
				<div class="contact">微信：zou-guo-jun QQ：892137682</div>
				<div class="smile">~O(∩_∩)O~</div>
			</div>
		</section>

	</div>
</div>
<script src="/js/zepto.min.js"></script>
<script src="/js/parallax.js"></script>
<script>
	
	$('.pages').parallax({
		direction: 'horizontal', 	// horizontal (水平翻页)
		swipeAnim: 'default', 	// cover (切换效果)
		drag:      true,		// 是否允许拖拽 (若 false 则只有在 touchend 之后才会翻页)
		loading:   false,		// 有无加载页
		indicator: true,		// 有无指示点
		arrow:     false,		// 有无指示箭头
		/*
		 * 翻页后立即执行
		 * {int} 		index: 第几页
		 * {DOMElement} element: 当前页节点
		 * {String}		directation: forward(前翻)、backward(后翻)、stay(保持原页)
		 */
		onchange: function(index, element, direction) {
			// code here...
			// console.log(index, element, direction);
		},
		/*
		 * 横竖屏检测
		 * {String}		orientation: landscape、protrait
		 */
		orientationchange: function(orientation) {
			// console.log(orientation);
		}
	});

	$(".cherry").on("click",function(){
		window.location.href="http://android.myapp.com/myapp/detail.htm?apkName=link.sharein.cherry";
	})

	$(".pcs").on("click",function(){
	  var ua = navigator.userAgent.toLowerCase();
	    if(ua.match(/MicroMessenger/i)=="micromessenger") {
	        $("body").empty();
	        $("body").addClass("body-active");
	    } else {
	        window.location.href="http://www.wandoujia.com/apps/com.cuit.pcs";
	    }
	})
	var share = 0;
	$(".wenwo").on("click",function(){
		if(share){
			return;
		}
		share = 1;
		var ua = navigator.userAgent.toLowerCase();
		if(ua.match(/MicroMessenger/i) != "micromessenger") {
	        $(".wenwo-tip").addClass("shake");
	        setTimeout(function(){
	        	$(".wenwo-tip").removeClass("shake");
	        	share = 0;
	        }, 1000);
	    } else {
	        window.location.href="http://www.wenwobei.com";
	    }
	})

</script>
</body>
</html>